body {
    background-color: #060606;
    padding: 0rem;
    margin: 0rem;
    }

html, body {
    height: 100%;
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    background-color: #060606;
}

div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* ################################### */
/* Bootstrap-like column-row system */
.rowm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0rem;
    padding: 0rem;
}
.colm {
    flex: 1 1 auto;
    width: 100%;
    max-width: 50%;
}
.space-left {
    margin-left: 1rem;
}
.space-up {
    margin-top: 1rem;
}

.padding_around {
  padding: 1rem;
}

/* ################################### */
/* NAV BUTTONS */
button {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    /* border-radius: 20%; */
}
.button1 {
    background-color: #2a9fd6; /* Green */
    border: 0.2rem solid #2a9fd6;
  }
.button1:hover {
    background-color: #117dae;
    border-color: #117dae;
  }
.button2 {
    background-color: #f80;
    border: 0.2rem  solid #f80;
}
.button2:hover {
    background-color: rgb(207, 110, 0);
    border-color: rgb(207, 110, 0);
}

/* ################################### */
/* Range Slider */ 
#slider_pre .rc-slider-dot-active{
  border-color: #37b1e4;
  border: solid 2px #37b1e4;
  /* width: 2rem;
  height: 2rem; */
}
#slider_pre .rc-slider-handle{
  /* appearance: none; */
  background-color: #1a22ff;
  border-color: #1a22ff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -19px;
}

#slider_clust .rc-slider-dot-active{
  border-color: #ff9900;
  border: solid 2px #ff9900;
  /* width: 2rem;
  height: 2rem; */
}

#slider_clust .rc-slider-handle{
  /* appearance: none; */
  background-color: #ff471a;
  border-color: #ff471a;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -19px;
}

/* ################################### */
/* Footer */
.footer-text {
  color: #ffffff;
}

/* ################################### */
/* Links (not in buttons) */
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

/* ################################### */
/* Drop-Down Selector */
/* .Select-control {
  background-color: #000000;
  color: #ff471a;
} */
/* .VirtualizedSelectFocusedOption {
  background-color: #f60303;
  color: white;
} */
/* .VirtualizedSelectOption {
  background-color: #000000;
  color: white;
} */
/* OLD */
/* .row_style {
    background-color: #060606;
    display: flex;
    flex-wrap: nowrap;
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
} */

/* .col_style {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%; 
    box-sizing: border-box;
    display: block;
    padding:1rem;
} */